@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  a:hover,
  a:focus,
  a:active {
    @apply text-design-third;
  }
}

@layer components {
  .design-link a:hover,
  .design-link a:focus,
  .design-link a:active {
    @apply border-b-4 border-design-primary pb-3;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .design-none {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #121212;
  }

  .design-disabled {
    border: 1px solid #000;
    opacity: 0.5;
    background-color: #fff;
  }
}

@layer utilities {
  .overflow-x-without-bars {
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .overflow-x-without-bars::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .reset-overflow-x-without-bars {
    overflow-y: initial;
    overflow-x: initial;
    -ms-overflow-style: initial; /* IE and Edge */
    scrollbar-width: initial; /* Firefox */
  }

  .reset-overflow-x-without-bars::-webkit-scrollbar {
    display: initial; /* Chrome, Safari and Opera */
  }
}
